*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{

    background-image: url(./assets/vecteezy_ship-on-sea-during-sunset_1752040.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}